<div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="page-name-content mb-3">Thông tin chủ xe trên giấy đăng ký</div>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <img src="./assets/images/icon/alert-icon.svg" />
          <div>
            Giấy chứng nhận điện tử TNDS sẽ được gửi vào email và số điện thoại này. Bạn vui lòng điền chính xác địa
            chỉ email và số điện thoại.
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Họ và tên</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Điện thoại</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Email </label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder=" ">
          <label for="floatingInput">Địa chỉ</label>
        </div>
      </div>
    </div>
    <div class="page-name-content mb-3 mt-3">Thông tin xe được bảo hiểm</div>
    <div class="row">
      <div class="col-3">
        <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="floatingSelect">Thời gian mua</label>
        </div>

      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder=" " disabled>
          <label for="floatingInput">Biển số xe</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder=" " disabled>
          <label for="floatingInput">Ngày hiệu lực </label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fl_time" placeholder=" ">
          <label for="fl_time">Giờ hiệu lực</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fl_time" placeholder=" ">
          <label for="fl_time">Ngày kết thúc</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fl_time" placeholder=" ">
          <label for="fl_time">Giờ kết thúc</label>
        </div>
      </div>
     
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control green-ipn" id="fl_time" placeholder=" " value="100.000d" disabled>
          <label for="fl_time">Phí bảo hiểm</label>
        </div>
      </div>
    </div>

    <div class="form-check  mb-3">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Bảo hiểm tai nạn lái xe, phụ xe, người ngồi trên xe
      </label>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect2" aria-label="Floating label select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="floatingSelect2">Chọn quyền lợi</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control green-ipn" id="floatingInput" placeholder=" " value="100.000" disabled>
          <label for="floatingInput">Phí bảo hiểm</label>
        </div>
      </div>
    </div>

    <!-- Button group -->
    <div class="col-12 mt-3">
      <button type="button" class="btn btn-sumary btn-pd">Chi tiết quyền lợi</button>
      <button type="button" class="btn btn-primary btn-pd float-end">Lưu thông tin</button>
    </div>


  </div>