@media only screen and (max-width: 600px) {
  body {}

  header {
    position: relative;
  }

  header .right-menu {
    position: absolute;
    right: 0;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .top-bn-bg {
    display: none;
  }

  .top-bn-container {
    background: none;
  }

  .top-banner {
    height: auto;
    position: initial;
    padding: 48px 0px;
  }

  .bn-content {
    position: initial;
    transform: none;
  }

  .slider-bn {
    width: 100%;
  }

  .page-name {
    font-size: 24px;
    line-height: 32px;
  }

  .ctn-success img {
    width: 100%;
  }

  .box-info .box-pd-r,
  .box-info .box-pd-l {
    padding: 0px;
  }

  .btn-form-edit {
    width: 100%;
  }

  .payment-smr {
    width: 100%;
  }


  .app-promotion {
    border-radius: 12px;
  }

  .app-promotion .download-ctn .btn-download-group {
    display: block;
    width: 100%;
  }

  .app-promotion .download-ctn .btn-download-group a {
    display: block;
  }

  .app-promotion .download-ctn .btn-download-group .appstore {
    margin-top: 16px;
  }

  .img-promo {
    display: none;
  }


  .mobile-mt-16 {
    margin-top: 16px;
  }

  .mobile-mt-30 {
    margin-top: 30px !important;
  }

  .mobile-w-100per {
    width: 100%;
  }

  .desktop-show-only {
    display: none;
  }

  .mobile-show-only {
    display: block;
  }

  .app-promotion .c-2 {
    font-size: 30px;
    line-height: 38px;
  }

  .footer-block-info {
    margin-top: 11px;
  }

  footer .footer-app-download {
    border-top: 1px solid #646464;
    margin-top: 20px;
    padding-top: 20px;
  }

  footer .row.accordion {
    margin-top: 30px;
  }

  footer .footer-menu-accor h6 {
    padding: 10px 0px;
  }
  footer .social-footer{
    margin-top: 24px;
  }
  .alert img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15px
  }
  .alert-danger div{
    padding-left: 42px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    position: relative;
  }

  header .right-menu {
    position: absolute;
    right: 0;
    width: fit-content;
  }

  footer {
    padding-top: 40px;
  }

  footer .footer-app-download,
  footer .footer-block-info {
    margin-top: 25px;
  }
  footer .social-footer{
    margin-top: 24px;
  }
  .desktop-show-only {
    display: none;
  }

  .img-promo {
    display: none;
  }

  .mobile-show-only {
    display: block;
  }

  .app-promotion .promo-app-wrap {
    max-width: fit-content;
    margin: 0 auto;
  }

  .app-promotion {
    padding: 60px 30px;
  }

  .box-info .box-pd-r,
  .box-info .box-pd-l {
    padding: 0px;
  }

  .top-bn-bg {
    display: none;
  }

  .top-bn-container {
    background: none;
  }

  .top-banner {
    height: auto;
    position: initial;
    padding: 48px 0px;
  }

  .bn-content {
    width: 518px;
    margin: 0 auto;
    position: initial;
    transform: none;
  }

  .page-name {
    font-size: 30px;
    line-height: 38px;
  }

  .slider-bn {
    width: 100%;
  }
}



.accordion-item {
  background: none !important;
  border: 1px solid #646464;
  border-left: none;
  border-right: none;
}

.accordion-button {
  background: none !important;
  padding: 10px 0;
  margin: 0;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background: none !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}