<div class="container">
    <div class="row row-eq-height">
      <div class="col-md-8">
        <div class="box-info">
          <div class="row">
            <div class="col-md-6 box-pd-l">
              <div class="box-content">
                <div class="box-title">Thông tin chủ xe trên giấy đăng ký</div>
                <div class="box-item">
                  <div class="it-label">Họ và tên:</div>
                  <div class="it-value">Nguyễn Thu Huyền</div>
                </div>
                <div class="box-item">
                  <div class="it-label">Điện thoại:</div>
                  <div class="it-value">0936495559</div>
                </div>
                <div class="box-item">
                  <div class="it-label">Email:</div>
                  <div class="it-value">Huyenntt3@gmail.com</div>
                </div>
                <div class="box-item">
                  <div class="it-label">Địa chỉ:</div>
                  <div class="it-value">12 Tôn Thất Tùng, Đống Đa, Hà Nội</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 box-pd-r">
              <div class="box-content">
                <div class="box-title">Thông tin xe được bảo hiểm</div>
                <div class="box-item">
                  <div class="it-label">Biển số xe:</div>
                  <div class="it-value">30E-74166</div>
                </div>
                <div class="box-item">
                  <div class="it-label">Thời gian mua:</div>
                  <div class="it-value">1 năm</div>
                </div>
                <div class="box-item">
                  <div class="it-label">Ngày giờ hết hạn:</div>
                  <div class="it-value">8:20 - 01/03/2023</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-info">
          <div class="box-content">
            <div class="box-title">Phí bảo hiểm</div>
            <div class="box-item">
              <div class="it-label">Phí bảo hiểm TNDS bắt buộc </div>
              <div class="it-value">60.000đ</div>
            </div>
            <div class="box-item">
              <div class="it-label force-w">Bảo hiểm tai nạn lái xe, phụ xe,
                người ngồi trên xe </div>
              <div class="it-value ">40.000đ</div>
            </div>
          </div>
          <div class="total-amout">
            <div class="box-item">
              <div class="it-label">Tổng phí thanh toán</div>
              <div class="it-value ">100.000đ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <button type="button" class="btn btn-sumary btn-pd">Sửa thông tin</button>
        <button type="button" class="btn btn-primary btn-pd float-end">Thanh toán</button>
      </div>
    </div>
  </div>